 
body {
  background-color: rgba(175, 222, 232, 0.98) ;
  overflow-x: hidden;
}

.no-select {
  -webkit-user-select: none;  
  -moz-user-select: none;  
  -ms-user-select: none;  
  user-select: none;  
}
