 
body {
  background-color: rgb(225 230 231 / 98%);
  overflow: hidden;
}

.no-select {
  -webkit-user-select: none;  
  -moz-user-select: none;  
  -ms-user-select: none;  
  user-select: none;  
}
